---
Checks: '-*,clang-analyzer-*'
HeaderFilterRegex: '^/Users/jeffersonnunn/bridgesessions/'
ExtraArgsBefore:
  - -I/Users/jeffersonnunn/bridgesessions/bs-client/src
  - -I/Users/jeffersonnunn/bridgesessions/bs-server/src
  - -I/Users/jeffersonnunn/bridgesessions/bs-protocol/include
  - -I/Users/jeffersonnunn/bridgesessions/bs-transport/include
  - -stdlib=libc++
  - -isysroot
  - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk
